body {
    background: rgba(0,0,0,0.2);
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 200px;
    height: 40px;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
}


.text-task {
    font-size: 18px;
    color: black;
    margin-left: 8px;
    margin-right: 10px;
}

.done-text {
    color: rgba(0,0,0,0.3);
    text-decoration: line-through;
}

img {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.input-edit {
    margin: 10px;
    width: 10vw;
    font-size: 18px;
}